# Dependency directories
node_modules

# Build output
dist

# Parcel cache
.parcel-cache

# Environment variables
.env

# Editor directories
/.vscode
/.idea

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
